<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <!--<div>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <h1>Hello, {{ yourName }}!</h1>
    </div>-->
      
    <!--<div ng-controller="MyController">
        <button ng-click="sayHello()">Say Hello</button>
    </div>-->
      
    <div ng-controller="MyController">
        <ul>
            <!--<li ng-repeat="person in roommates">{{ person.name }}</li>-->
            <li ng-repeat="(name, colour) in people">{{name}}'s favorite colour is {{colour}}</li>
        </ul>
    </div>
  </body>
</html>